<div id="disqus_container">
  <div class="share-con">
    <script type="text/javascript" charset="utf-8">
      (function(){
        var param = {
          url: 'http://beiyuu.com{{ page.url }}',
          type: '6',
          title: '《{{ page.title }}》' + '- {{ page.description }}',
          ralateUid: '1855270953',
          rnd:new Date().valueOf()
        }
        var temp = [];
        for( var p in param ){
          temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
        }
        document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="86" height="16"></iframe>')
      })()
    </script>
  </div>

  <a href="#" class="comment" onclick="return false;">点击查看评论</a>
  <div id="disqus_thread"></div>
</div>
