html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', '\51AC\9752\9ED1\4F53', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', STXihei, '\534E\6587\7EC6\9ED1', SimSun, '\5B8B\4F53', Heiti, '\9ED1\4F53', sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
a {
  color: #4a75b5;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
a.external {
  padding-right: 13px;
  background: url("/images/icons.gif") no-repeat right 1px;
}
a.external:hover {
  background-position: right -15px;
}
.index-wrapper .aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  max-width: 500px;
  background: #59a0b0;
}
@media screen and (max-width: 767px) {
  .index-wrapper .aside {
    position: relative;
    width: 100%;
    height: 200px;
    max-width: none;
  }
}
.index-wrapper .info-card {
  position: absolute;
  margin-top: 70%;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .index-wrapper .info-card {
    margin-top: 70px;
  }
}
.index-wrapper .info-card h1 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0 0 80px rgba(255,255,255,0.5);
  letter-spacing: 0.15em;
  text-shadow: rgba(255,255,255,0.5) 0 0 15px, rgba(255,255,255,0.5) 0 0 10px;
}
.index-wrapper .info-card a {
  margin: 0 15px;
}
.index-wrapper .index-content {
  margin-left: 30%;
  padding-top: 80px;
  padding-right: 15%;
}
@media screen and (max-width: 767px) {
  .index-wrapper .index-content {
    margin-left: 0;
    padding-right: 0;
  }
}
.index-wrapper .artical-list {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .index-wrapper .artical-list {
    width: 85%;
  }
}
.index-wrapper .artical-list li {
  margin-bottom: 70px;
}
.index-wrapper .title {
  display: block;
  font-size: 22px;
  margin-bottom: 15px;
  word-break: break-all;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
  color: #444;
}
@media screen and (max-width: 767px) {
  .index-wrapper .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.index-wrapper .title:hover {
  color: #e50053;
  text-decoration: none;
}
.index-wrapper .title-desc {
  color: #999;
  font-size: 14px;
  line-height: 1.6;
}
.body-post {
  background: #f5f5f5;
}
@media screen and (max-width: 767px) {
  .body-post {
    background: #fff;
  }
}
.post-wrapper {
  width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 80px 60px;
}
@media screen and (max-width: 767px) {
  .post-wrapper {
    width: 85%;
    margin: 100px auto 50px;
    padding: 0;
  }
}
.post-wrapper .post-title,
.post-wrapper .post-title a {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #000;
  text-align: center;
  word-wrap: break-word;
}
@media screen and (max-width: 767px) {
  .post-wrapper .post-title,
  .post-wrapper .post-title a {
    font-size: 24px;
  }
}
.post-wrapper .post-title:hover,
.post-wrapper .post-title a:hover {
  text-decoration: none;
}
.post-wrapper .post-date {
  text-align: center;
  color: #999;
  margin-bottom: 60px;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .post-wrapper .post-date {
    margin-bottom: 40px;
  }
}
.post-wrapper h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}
@media $mobiel {
  .post-wrapper h2 {
    font-size: 20px;
  }
}
.post-wrapper h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #222;
}
@media screen and (max-width: 767px) {
  .post-wrapper h3 {
    font-size: 16px;
  }
}
.post-wrapper h4,
.post-wrapper h5,
.post-wrapper h6 {
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}
.post-wrapper p {
  margin-bottom: 40px;
  line-height: 1.8em;
}
.post-wrapper code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0 5px;
  font-family: "Courier";
  line-height: 14px;
  font-size: 14px;
  word-wrap: break-word;
}
.post-wrapper pre {
  background: #f7f3f7;
  padding: 20px 30px 15px;
  overflow: auto;
  margin-bottom: 40px;
  font-size: 14px;
  border: 1px solid #eee;
  color: #b9bdb6;
  margin-top: -20px;
}
.post-wrapper pre code {
  background-color: transparent;
  border: none;
  padding: 0;
  word-wrap: normal;
}
@media screen and (max-width: 767px) {
  .post-wrapper pre code {
    line-height: 1em;
    font-size: 12px;
  }
}
.post-wrapper h4+pre,
.post-wrapper h3+pre {
  margin-top: 20px;
}
.post-wrapper ul {
  margin-bottom: 25px;
  margin-left: 25px;
}
.post-wrapper ul li {
  margin-bottom: 5px;
  list-style: disc;
  line-height: 1.8em;
}
.post-wrapper p + ul {
  margin-top: -20px;
}
.post-wrapper ol {
  margin-bottom: 25px;
  margin-left: 25px;
}
.post-wrapper ol li {
  margin-bottom: 5px;
  list-style: decimal;
  line-height: 1.1em;
}
@media screen and (max-width: 767px) {
  .post-wrapper ol li {
    margin-bottom: 0;
    line-height: 1em;
  }
}
.post-wrapper blockquote {
  margin-left: 25px;
  font-size: 14px;
  font-style: italic;
}
.post-wrapper img {
  max-width: 670px;
  display: block;
  margin: 10px auto;
}
@media screen and (max-width: 767px) {
  .post-wrapper img {
    max-width: 90%;
  }
}
.post-wrapper table {
  margin: 0 auto;
}
.about-wrapper {
  background: #7e96a9;
  width: 900px;
  margin: 0 auto;
  padding: 30px 60px;
}
@media screen and (max-width: 767px) {
  .about-wrapper {
    width: 100%;
    padding: 0 7.5% 30px;
  }
}
.about-wrapper .aboutme {
  zoom: 1;
}
.about-wrapper .aboutme:before,
.about-wrapper .aboutme:after {
  content: "";
  display: table;
}
.about-wrapper .aboutme:after {
  clear: both;
}
.about-wrapper .aboutme h2 {
  margin-bottom: 20px;
}
.about-wrapper .aboutme h2 a {
  font-size: 18px;
}
.about-wrapper .aboutme li {
  line-height: 1.4;
  margin-bottom: 10px;
  float: left;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .about-wrapper .aboutme li {
    float: none;
    width: 80%;
  }
}
.about-wrapper .aboutme a {
  color: #fff;
  font-size: 14px;
}
#particles-js {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 20%;
  -moz-background-size: 20%;
  background-size: 20%;
  background-position: 50% 50%;
  background: #38658c;
  background: -webkit-radial-gradient(top left, #5d3571, #38658c);
  background: -moz-radial-gradient(top left, #5d3571, #38658c);
  background: -o-radial-gradient(top left, #5d3571, #38658c);
  background: -ms-radial-gradient(top left, #5d3571, #38658c);
  background: radial-gradient(to bottom right, #5d3571, #38658c);
}
#disqus_container {
  font-size: 12px;
}
#disqus_container .share-con {
  float: right;
  margin-bottom: 20px;
}
#disqus_container a.comment {
  font-size: 14px;
}
.prettyprint {
  background: #f7f3f7;
  border: 0 !important;
}
.pln {
  color: #1b181b;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #5a7b8c;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 0.4em;
  background-color: #f7f3f7;
  list-style-type: decimal;
}
@media screen {
  .str {
    color: #918b3b;
  }
  .kwd {
    color: #7b59c0;
  }
  .com {
    color: #5a7b8c;
  }
  .typ {
    color: #516aec;
  }
  .lit {
    color: #a65926;
  }
  .pun {
    color: #1b181b;
  }
  .opn {
    color: #1b181b;
  }
  .clo {
    color: #1b181b;
  }
  .tag {
    color: #ca402b;
  }
  .atn {
    color: #a65926;
  }
  .atv {
    color: #159393;
  }
  .dec {
    color: #a65926;
  }
  .var {
    color: #ca402b;
  }
  .fun {
    color: #516aec;
  }
}
.wiki h2 {
  cursor: pointer;
}
.wiki ul {
  margin-left: 30px;
  margin-bottom: 20px;
  list-style: disc;
}
.wiki ul li {
  margin-bottom: 5px;
}
.wiki ul ul {
  list-style: circle;
  margin-top: 10px;
  margin-bottom: 10px;
}
